## A Callout that displays a random YouTube video, using the Cycle plugin.
## Assumes the page calling this SPIF has included the Cycle plugin file.

## Constants
#set ( $block = $_XPathTool.selectSingleNode( $contentRoot, "/system-data-structure") )
#set ( $videos = $_XPathTool.selectNodes( $block, "//youtube") )

## Callout variables
#set ( $calloutTitle = $block.getChild('title').value )
#set ( $subtitle = $block.getChild('subtitle').value )
#set ( $link = $block.getChild('link').value )

<script type="text/javascript">// <![CDATA[
$('.small-slides').cycle({
    random: 1,					 
	timeout: 0,
	cleartypeNoBg: true,
	before:     function() {
		$('#caption').html(this.title);
		$('a#photolink').attr("href", this.href);
		$('a#photolink').attr("title", this.title);
	}
});
// ]]></script>

<div class="feature-widget aside-widget small-slides-outer">
	<div class="feature-header">
		<div class="title">${_EscapeTool.xml( $calloutTitle )}</div>
		<div class="subtitle">
			<a href="${link}" target="_blank" title="YouTube Channel">
				${_EscapeTool.xml( $subtitle )}
			</a>
		</div>
	</div>
	<div class="feature-content">
		<div class="small-slides">
		#foreach ($video in $videos)
	        #set ( $id = $video.getChild('id').value )
	        #set ( $title = $_EscapeTool.xml( $video.getChild('title').value) )

	        <iframe id="ytplayer" width="198" height="137" type="text/html" frameborder="0" src="http://www.youtube.com/embed/${id}?autohide=1&amp;showinfo=0&amp;rel=0" title="${title}"></iframe>
		#end
		</div>
		<div id="caption"></div>
	</div>
</div>